{{#partial "title"}}
<title>{{title}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
    
    <div class="ui center massive aligned segment">
    
    	<h2 class="ui right floated header">Combos</h2>
        
        <div class="content">
        
	        <form class="ui form">
				  
				  <div class="two fields">
				  	 <div class="required field">
				  	 
						  <div class="ui selection dropdown">
							  <input type="hidden" name="sexo">
							  <i class="dropdown icon"></i>
							  <div class="default text">Marcas</div>
							  <div class="menu">
							  
							  	{{#each listaDeMarcas}}
							  		<div class="item" data-value= {{this.id}} > {{this.id}}-{{this.nombre}} </div>
				    	        {{/each}}
							    
							  </div>
						  </div>
					 </div>
				  </div>
				  
				  <div class="field">
				  <input type="submit" class="circular purple fluid ui button" value="Aceptar">
				  </div>
			</form>
		</div>
    
    </div>
    
</div>

<script>
        
    $("#nuevo-button").click(function(){
        
        var nombre = $('#nuevo-modal').find('input[name=nombre]').val();
        var descripcion = $('#nuevo-modal').find('input[name=descripcion]').val();
        
    });
    
    $("#nuevo").click(function(){
        var selected = $("#opciones").val();
        alert(selected);
    });
    
    
</script>

{{/partial}}
{{> layout.hbs}}